@charset "UTF-8";

/*command*/

html {
	font-size: 62.5%;
}

body {
	font-family: -apple-system-font,Helvetica Neue,sans-serif;

}

em,
p,
ul,
dl,
dt,
dd,
ins,
h1,
h2,
h3,
h4,
form,
h1,
h2,
h3,
h4,
ins {
	margin: 0;
	padding: 0;
}

ins {
	text-decoration: none;
}

em,i {
	font-style: normal;
}

ul,
ol {
	list-style: none;
}

input,
select {
	vertical-align: middle;
	font-family: -apple-system-font, Helvetica Neue, sans-serif;
}

input,
button,
select,
textarea {
	outline: none;
	font-size: 16px;
}

textarea {
	resize: none
}

img {
	border: 0;
	vertical-align: middle;
}

a {
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
	color: #333;
}
.none{
	display: none;
}
.border-top-0{
	border-top: 0;
}
.border-top {
	border-top: 1px solid #f0f0f0;
}

.border-bottom {
	border-bottom: 1px solid #f1f1f1;
}

.hidden {
	overflow: hidden;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.text_center {
	text-align: center;
	display: block;
}


/*各浏览器显示不同，去掉蓝色边框和轮廓*/

fieldset,
img,
input,
button {
	border: none;
	outline-style: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}


/*常用的边距*/

.m-t-0 {
	margin-top: 0;
}

.m-t-3 {
	margin-top: 3px;
}

.m-t-10 {
	margin-top: 1rem;
}

.m-t-20 {
	margin-top: 2rem;
}

.m-t-15 {
	margin-top: 1.5rem;
}

.m-b-10 {
	margin-bottom: 1rem;
}

.m-r-10 {
	margin-right: 10px;
}


/*常用的颜色*/

.text_right {
	text-align: right;
}

.yellow-color {
	background-color: #b2ec79;
}

.color_27332b {
	color: #38e170;
}

.color_gray {
	color: #27332b;
}

.bg_fafafa {
	background: #fafafa;
}

.red-blue {
	background-color: #14db56;
}

.preferential {
	float: right;
	margin: 0 auto;
	text-align: center;
}


/*登录注册*/

.loginmain {
	width: 98%;
	margin: 0 auto;
}

.input_cell {
	height: 3.6rem;
	width: 100%;
	background: #fafafa;
	border-radius: .4rem;
}

.x-input {
	width: 100%;
	height: 3.6rem;
	border: 0;
	background: transparent;
	font-size: 1.6rem;
	color: #27332b;
	padding-left: 2rem
}

.x-input.username {
	background: url(../img/username.png) no-repeat 1rem 50%;
	background-size: 2.4rem auto;
	padding-left: 4rem;
}

.x-input.passname {
	background: url(../img/password.png) no-repeat 1rem 50%;
	background-size: 2.1rem auto;
	padding-left: 4rem;
}

#shadowbtn {
	background: #14db56;
	font-family: -apple-system-font, Helvetica Neue, sans-serif;
	box-shadow: 5px 5px 6px 1px #c1e9ce;
}

.warp {
	position: relative;
	overflow: hidden;
}

.aside {
	width: 52%;
	float: left;
}

.flower {
	width: 48%;
	float: right;
}

.btnregin {
	width: 80%;
	margin: 2rem auto;
}


/*.codebtn {
	font-size: 1.6rem;
}*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #9a9a9a;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #9a9a9a;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #9a9a9a;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #9a9a9a;
}

.writeaddress input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #bcbcbc;
	font-size: 14px;
}

.border-none{
	border: none;
}
/*预定首页*/

.hr {
	height:10px;
	background: #fafafa;
	
	border-bottom: 1px solid #F1F1F1;
}
.h5-5{
	height: 5px;
	background: #fafafa;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}
.sst-shouye {
	background: url(../img/c.png) no-repeat center center;
	background-size: 100% auto;
	height: 27px;
	width: 27px;
	display: block;
}

.sst-xuetang {
	background: url(../img/b1.png) no-repeat center center;
	background-size: 20px auto;
	height: 27px;
	width: 27px;
	display: block;
}

.sst-dashizaixian {
	background: url(../img/a.png) no-repeat center center;
	background-size: 27px auto;
	height: 27px;
	width: 27px;
	display: block;
	z-index: 1;
}

.content .swiper-container {
	width: 100%;
	position: relative;
}

.content .swiper-container img {
	display: block;
	width: 100%;
}

#on {
	position: absolute;
	bottom: 1rem;
}

#on .swiper-pagination-bullet {
	background: #fff;
	opacity:1;
}

#on .swiper-pagination-bullet-active {
	background: #14db56;
	opacity: 1;
}

.weui-grid__icon {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.whitebg {
	background: #FFF;

}
.whitebg.weui-grid:after, .weui-grid:before{
	border-right: 0;

}
.whitebg .weui-grid:after{
		border-bottom: 0;
}

.sp_list li {
	float: left;
	width: 50%;
	background: #FFF;
}

.spbox {
	margin-top: 8px;
	margin-bottom: 8px;
}

.sp_list li a {
	display: block;
	padding: 12px 12px 12px 12px;
	position: relative;
	margin-left: -1px;
	margin-bottom: -1px;
}

.pic_div img {
	width: 100%;
	height: auto;
	opacity: 1;
	transition: opacity .5s ease-in;
}

.price_div {
	height: 20px;
	overflow: hidden;
	font-size: 0;
	margin-top: 1px;
}

.price_div .product-price1 {
	color: #ff5400;
	font-size: 16px;
	padding-right: 5px;
	height: 20px;
	line-height: 20px;
	vertical-align: text-bottom;
	display: inline-block;
	margin-top: 1px;
	float: left;
}

.title_one {
	height: 40px;
	background: url(../img/title1.jpg) no-repeat center center;
	background-size:50% auto;
	overflow: hidden;
}

.title_two {
	height: 40px;
	background: url(../img/title2.jpg) no-repeat center center;
	background-size: 50% auto;
	overflow: hidden;
}

.title_three {
	height:40px;
	background: url(../img/title3.jpg) no-repeat center center;
	background-size: 50% auto;
	overflow: hidden;
}

.big-price {
	font-size: 20px;
	line-height: 18px;
}

.small-price {
	font-size: 16px;
}

.more {
	height: 40px;
	width: 45px;
	display: block;
	float: right;
	margin-right:15px;
	background-size: 10px auto;
	background: url(../img/more.png) no-repeat 100% 50%;
	background-size:18px auto;
	font-size: 12px;
	line-height: 40px;
	text-align: left;
	
}

.product-xiaoliang {
	float: right;
	font-size: 12px;
	color: #bfbfbf;
	padding-top: 5px;
}

.splist .tit_div {
	font-size: 13px;
}

.splist .weui-panel__bd {
	padding-bottom: 15px;
}
.addmer{
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}
.calculate {
	font-size: 14px;
}

.tit_div {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size:14px;
	/* height: 50px;*/
}

.tit_div_line {
	word-wrap: normal;
	/* for IE */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
}

.weui-tabbar {
	position: fixed;
	z-index: 2;
	background: #fff;
}

.main {
	margin-bottom: 5.8rem;
	z-index: 1;
}

.originalprice {
	color: #a2a2a2;
	font-size: 12px;
	text-decoration: line-through;
}


/*土特产首页*/

.sortbox {
	text-align: center;
	color: #000;
	background: #FFF;
	height: 40px;
	line-height: 40px;
}

.sortbox a {
	color: #000;
	width: 100%;
	display: inline-block;
}

.sortbox a.on:active,
.sortbox a.on:focus,
.sortbox a.on:visited {
	color: #14db56;
	text-decoration: none;
}

.sortbox a.on,
.sortbox span.on {
	color: #14db56;
	border-bottom: #14db56 solid 1px;
}

.sortbox i {
	display: inline-block;
	font-style: normal;
}

.sortbox .type {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 10px;
}

.sortbox .classification {
	background: url(../img/type.png) no-repeat center center;
	background-size: 18px auto;
}

.sortbox .priceicon {
	background: url(../img/sort.png) no-repeat center center;
	background-size: 18px auto;
}

.sortbox .down {
	width: 18px;
	height: 16px;
	vertical-align: middle;
	background: url(../img/down.png) no-repeat center center !important;
	background-size: 10px auto;
	margin-left: 5px;
}

.sortbox .up {
	width: 18px;
	height: 16px;
	vertical-align: middle;
	background: url(../img/up.png) no-repeat center center;
	background-size: 16px auto;
	margin-left: 5px;
}

.menu {
	z-index: 3;
	margin-top: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .88);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .88);
	display: none;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .88);
	display: none;
}

.sortmenu li:hover {
	background: #b2ec79;
	color: #fff;
}

.sortbox .weui-col-50 {
	z-index: 3;
}

.sortbox .weui-col-50:hover .menu {
	display: block;
	box-shadow: 2px 2px 3px #eee;
}

.sortbox .weui-col-50:hover .up {
	height: 16px;
	vertical-align: middle;
	background: url(../img/down.png) no-repeat center center !important;
	background-size: 16px auto !important;
	margin-left: 5px;
}

.sortmenu li {
	font-size: 13px;
}

.menu li {
	background: #fff;
	position: relative;
}

.menu li ul {
	position: absolute;
	right: -100%;
	top: 0;
	width: 100%;
	z-index: 3;
	box-shadow: 1px 1px 3px #ddd;
	display: none;
}

.menu li ul li {
	background: #fafafa;
}

.menu li a {
	display: block;
	width: 100%;
	position: relative;
	font-size: 14px;
}

.menu li a:hover {
	background: #fafafa;
	color: #14db56;
}

.menu>li:hover>ul {
	display: block;
}

.menu>li:hover>ul>li:hover>ul {
	display: block;
}

.shipping {
	font-size: 12px;
	color: #a2a2a2;
	margin-left: 3px;

}
.yishou{
	margin-top: -4px;
}
.playbox {
	width: 100%;
}

.playbox .plyr--video .plyr__controls {
	padding: 0 10px 10px;
}

.number-selector {
	float: left;
	height: 20px;
	font-size: 25px;
	line-height: 18px;
	color: #3cc51f;
}

.f-red {
	color: #ef4f4f!important;
}

.number-input {
	float: left;
	height: 20px;
	font-size: 20px;
	color: #27332b;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 3px 0;
	text-align: center;
}

.number-selector-plus {
	padding: 3px 8px;
}

.number-selector-sub {
	border-right: none;
	padding: 3px 8px;
	font-size: 28px;
}

.content-padded {
	padding: 10px;
}

.content-box img {
	max-width: 100% !important;
	height: auto !important;
}

.vs {
	width: 100%;
}


/*固定购买菜单*/

.cart-concern-btm-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: rgba(255, 255, 255, .9);
	border-top: 1px solid #F1F1F1;

}

.concern-cart {
	position: relative;
	background-color: rgba(255, 255, 255, .9);
}

.shopping_count {
	font-size: 14px;
}

.shopping_count .preferential {
	color: #ff5400;
	font-size: 10px;
}

.subtotal em.decimal {
	font-size: 14px;
}


/*新添加的地方*/
.combined_total{
   color: #ff5400;
}
.combined_total em {
	color: #ff5400;
	font-size: 24px;
	font-weight: 500;
}

.combined_total i {
	font-style: normal;
	color: #ff5400;
}
.payment-total-bar .combined_total em{
	font-size: 20px;
}

/*.concern-cart:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #d2d2d2;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
}*/

.action-list,
.concern-cart {
	float: left;
}

.four-column .concern-cart {
	width: 38%;
}

.action-list a,
.concern-cart a {
	float: left;
	display: inline-block;
	height: 50px;
	line-height: 50px;
}

.concern-cart a {
	color: #d4d4d4;
	font-size: 12px;
}

em.btm-act-icn {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 4px;
	width: 30px;
	height: 21px;
	background-color: #fff;
}

.dong-dong-icn .btm-act-icn {
	background: url(../img/telicon_23.png) no-repeat center center;
	background-size: auto 100%;
}

.focus-info {
	color: #232326;
	font-size: 12px;
}

.concern-cart a span {
	display: block;
	height: 15px;
	text-align: center;
	line-height: 9px;
}

.focus-container {
	display: inline-block;
	width: 40px;
	text-align: center;
}

.focus-container .focus-icon {
	position: relative;
	margin-bottom: 17px;
	height: 18px;
	text-align: center;
}

.bottom-focus-icon {
	position: absolute;
	top: 10px;
	left: 50%;
	display: inline-block;
	margin-left: -11px;
	width: 22px;
	height: 17px;
	background: url(../img/focus-icon-new.png) no-repeat;
	background-size: 22px 44px;
}

.focus-out {
	background-position: -1px -3px;
}

.focus-scale {
	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -11px;
	width: 22px;
	height: 17px;
	background: url(../img/focus-icon-new.png) no-repeat;
	background-position: -1px -25px;
	background-size: 22px 44px;
}

.cart-car-icn .btm-act-icn {
	background: url(../img/cart.png) no-repeat center center;
	background-size: auto 100%;
}

.order-numbers {
	position: absolute;
	top: -5px;
	right: -9px;
	padding: 0 4px;
	border-radius: 50%;
	background-color: #f23030;
	color: #fff;
	font-style: normal;
	font-size: 12px;
	display: inline-block;
	line-height: 18px;
	z-index: 2;
}

.addCard {
	color: #fff;
	background-color: #A2A2A2;
}

.four-column .action-list {
	width: 62%;
	position: relative;
	height: 50px;
}

.action-list a {
	color: #fff;
	font-size: 15px;
	border-radius: 0;
}

.ticketbtn .buytime {
	position: absolute;
	right: 0;
	top: 0;
}

.action-list a,
.concern-cart a {
	width: 50%
}

.row50 {
	width: 50%;
	margin: 0 auto;
}

.wellbox {
	padding: 10px 0 0;
	color: #525c55;
}

.splist .title_flower {
	padding:0 15px;
	border-bottom: 1px solid #F1F1F1;
}

.splist .price_div .product-price1 {
	color: #27332b;
}

.youhui {
	color: #ff5400;
	font-size: 10px;
}

.calculate.orderbtn {
	padding: 0 10px 10px;
	font-size: 14px;
	color: #27332b;
	border-top: 0;
}

.calculate span {
	display: inline-block;
}

.title_flower {
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	color: #27332b;
}

.title_flower i {
	display: inline-block;
	width: 30px;
	height: 45px;
	vertical-align: bottom;
	background: url(../img/dianpu.png) no-repeat left center;
	background-size: 16px auto;
}

.title_flower i img {
	width: 100%;
}

.detailicon {
	background: url(../img/detailicon.png) no-repeat center center;
	background-size: 100% auto;
}

.pinjia {
	background: url(../img/pinjia.png) no-repeat center center;
	background-size: 100% auto;
}

.titone {
	height: 30px;
	background: url(../img/tit1.png) no-repeat center center #fafafa;
	background-size: 40% auto;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}

.tittwo {
	height:30px;
	background: url(../img/tit2.png) no-repeat center center #fafafa;
	background-size:40% auto;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}
.writ{
	border-bottom: 2px solid #14db56;
}
.comments {
	padding:5px;
}

.comments li {
	position: relative;
}

.comicon {
	width: 60px;
	height: 60px;
	position: absolute;
	border-radius: 50%;
}
#cart1 .weui-btn:after{
	border: none;
	border-radius: 0;
}
.comicon img {
	width: 100%;
	border-radius: 50%;
}

.cons {
	margin-left: 70px;
}

.cons h1 {
	color: #27332b;
	font-weight: 200;
	font-size: 16px;
}

.cons .time {
	font-size: 12px;
	color: #9a9a9a;
	display: block;
}

.introduce {
	font-size: 14px;
	color: #27332b;
	padding: 10px 0;
}

.introduce img {
	width: 100%;
}

.introduce p {
	padding: 10px 0;
}

.btnbox {
	width: 60%;
	margin: 10px auto;
}

.btnbox a {
	color: #58e587;
	font-size: 14px;
	border: 1px solid #58e587;
}


/*******重置WEUI 部分样式*******/


/*.weui-cell:before {
			border-top: 0;
		}*/



/*--------------------------------------------重置 WEUI部分样式  -----------------------------------------*/
.weui-cell_access .weui-cell__ft:after {
	width:12px;
	height:12px;
	border-width: 1px 1px 0 0;
	border-color: #a2a2a2;
}
.weui-cell:before{
	border-top: 1px solid #f1f1f1;
}
.weui-cells:after{
	border-bottom: 1px solid #f1f1f1;
}
.weui-cells:before{
	border-top:1px solid #f1f1f1;
}

.list .weui-cell{
	padding:15px 15px;
}



























/*评价页面*/

.introduce .graphic {
	position: relative;
	overflow: hidden;
}

.commlist .graphic li {
	float: left;
	width: 33.33333333%;
	padding-right: 5px;
	box-sizing: border-box;
	padding: 0;
}

.pic {
	width: 50px;
	height: 50px;
}

.pic img {
	width: 100%;
	display: block;
}

.commlist li {
	background: #fff;
	margin-top: 10px;
	padding: 10px;
}

.reply {
	margin-left: 40px;
}

.tab2 .graphic li {
	margin-bottom: 10px;
	padding: 0;
}

.weui-picker-modal .toolbar-inner {
	height: 44px;
	line-height: 44px;
	font-size: 16px;
}

.weui-picker-modal .title {
	height: 44px;
	line-height: 44px;
	font-size: 16px;
}

.writeaddress {
	border-bottom: 2px solid #14db56;
	position: relative;
	background: url(../img/book.png) no-repeat 100% 105% #fff;
	background-size: 22px auto;
	
}


/* 提交订单页面*/

.splist {
	background: #FFF;
	padding: 15px 0px;
	padding-top: 0px;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}

.wellbox.weui-cell:before {
	border-top: 0;
}

.pieces {
	color: #2e3a32;
}

.subtotal em {
	color: #333;
	font-size: 22px;
	font-weight: 500;
}

.splist .weui-media-box_appmsg .weui-media-box__hd {
	width: 68px;
	height: 68px;
}
.splist .weui-media-box_appmsg {
	align-items: inherit;

}
.orderbtn {
	background-color: rgba(255, 255, 255, .9);
	overflow: hidden;
}

.orderbtn .subtotalInfo {
	width: 65%;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: right;
	position: relative;
}

.orderbtn .subtotal em {
	color: #ff5400;
}

.orderbtn .subtotal i {
	color: #ff5400;
	font-style: normal;
}

.orderbtn .orderOk {
	width: 35%;
	float: left;
	height: 50px;
	line-height: 50px;
	background-color: #14db56;
	color: #fff;
	font-size: 18px;
}

.calculate span.subtotal{
	margin-right: 5px;
}
/*收货地址*/

.gray {
	color: #999999;
	font-size: 14px;
}

.sstfont {
	font-family: "sstfont" !important;
	font-size: 16px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/address.png) no-repeat center center;
	background-size: 65% auto;
	margin-top: 5px;
}
.addrbox .sstfont{
	background: url(../img/addressicon.png) no-repeat center center;
	background-size:70% auto;
}
.addrbox .recipient{
	color: #fff;
}
/*地址管理*/

.removeAddr {
	padding: 10px;
	border-top: 1px solid #eee;
}

.divedit a {
	font-size: 16px;
	margin-right: 10px;
	margin-left: 10px;
}

.divedit a:hover {
	color: #E64340;
}


/*底部导航栏*/

.message {
	background: url(../img/red.png) no-repeat 90% 2%;
	z-index: 2;
}

.product_info {
	padding: 5px 10px;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

.savebtn {
	background: #14db56;
	line-height:50px;
	border-radius: initial;
}
.adlist{
	margin-top: 15px;
}
.recipient {
	font-size: 16px;
	color: #000;
}

.recipientmen {
	padding-left: 30px;
}

.shouhuo {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	font-style: normal;
	font-size: 14px;
	padding: 5px 0 10px;
}

.hr-15 {
	height: 15px;
	background: #FAFAFA;
}

.addaddress_a {
	background: #fff;
	height: 44px;
	line-height: 44px;
	display: block;
	font-size: 18px;
	color: #000;
	text-align: center;
	border-bottom: 1px solid #F1F1F1;
}

.submitOrderBtn {
	height: 50px;
	line-height: 50px;
	background-color: #14db56;
	color: #fff;
	font-size: 18px;
	font-family: -apple-system-font, Helvetica Neue, sans-serif;
}

.addaddress_a i {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	background: url(../img/xinzen.png) no-repeat center center;
	background-size: 100% auto;
}


/*---------------------------------名宿------------------------------------------*/

.sortbox .scenic {
	background: url(../img/scenic.png) no-repeat center center;
	background-size: 18px auto;
}

.homedate {
	font-size: 12px;
	color: #a1a1a1;
	padding: 10px;
	background: url(../img/timer.png) no-repeat 10px center #fff;
	background-size: 18px auto;
}

.night {
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
}

#date {
	color: #000;
	font-size: 15px;
	text-align: left;
}

#date2 {
	color: #000;
	font-size: 15px;
	text-align: right;
}

#homedate label {
	display: block;
}


/*民宿详情*/

.dlinfo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
}

.dlinfo dt {
	width: 68%;
}

.dlinfo dd {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
}

.detail_address {
	font-size: 14px;
	color: #000;
}

.service {
	margin-right: 15px;
}

.servicebtn {
	font-size: 12px;
	margin-top: 5px;
	border-radius: 0;
	width: 100px;
	padding: 5px 0;
	margin-right: 15px;
	display: block;
}

.servicebtn i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/write_tel.png) no-repeat center center;
	background-size: 100% auto;
}

.map {
	display: block;
	font-size: 12px;
	color: #14db56;
	text-align: center;
	margin-top: 32px;
	margin-left: -30px;
}

.map a {
	color: #14db56;
}

.map i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto 5px;
	background: url(../img/map.png) no-repeat center center;
	background-size: 80% auto;
}

.row80 {
	width: 70%;
	margin: 0 auto;
}

#infinite-1 {
	color: #14db56;
}

.choose_date {
	font-size: 16px;
	color: #000;
}

.convention {
	background: url(../img/yuding.png) no-repeat center center;
	background-size: 100% auto;
}

.tit_0 {
	height:30px;
	background: url(../img/yud.png) no-repeat center center #fafafa;
	background-size:40% auto;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}


/*时间控件*/

.choose_time_box {
	position: relative;
	font-size: 12px;
	color: #9a9a9a;
	background: url(../img/timer.png) no-repeat 10px 50% #fff;
	background-size: 20px auto;
	/* box-shadow: 0 1px 3px rgba(9, 9, 9, .88);
  -moz-box-shadow: 0 1px 3px rgba(9, 9, 9, .88);
  -webkit-box-shadow: 0 1px 3px rgba(9, 9, 9, .88);*/
	border-bottom: 1px solid #F1F1F1;
}

.choose_time_box p.choose_time {
	line-height: 23px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 11px;
}

.choose_time_box p.choose_time span.choose_time_span {
	font-size: 17px;
	color: #000;
	margin-left: 10px;
	font-weight: 200;
}

.choose_time_box p.choose_time span.choose_time_span i {
	font-size: 12px;
	color: #666;
}

.choose_time_box p.choose_time .choose_date {
	min-width: 75px;
	display: inline-block;
}

.choose_time_box p.choose_time span.choose_time_span i.f {
	color: #000;
	margin-left: 5px;
	margin-right: 15px;
}

.choose_time_box strong {
	text-align: center;
	font-size: 12px;
	display: block;
	margin: 0 auto;
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 80px;
}

.choose_time_box .intime {
	margin-top: 15px;
	text-align: right;
}

.choose_time_box .outtime {
	text-align: left;
	margin-top: 15px;
}

.choose_time_box:after {
	content: "";
	position: absolute;
	right: 15px;
	top: 45%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 7px;
	height: 7px;
	border-top: 2px solid #aaa;
	border-right: 2px solid #aaa;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


/*头部*/

.jm-header {
	width: 100%;
	background-color: #f7f7f7;
	text-align: center;
	font-size: 18px;
	height: 45px;
	line-height: 45px;
	color: #353535;
	position: relative;
	z-index: 10;
}

.jm-header-left_icon {
	height: 45px;
	width: 45px;
	left: 0px;
	top: 0;
	position: absolute;
}

.jm-list-header span {
	margin-left: 50px;
	margin-right: 50px;
	height: 45px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}

.jm-header span {
	padding-left: 50px;
	padding-right: 50px;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	height: 45px;
	overflow: hidden;
	display: -webkit-box;
}

.jm-iconfont {
	height: 45px;
	width: 45px;
	background: url(../img/left.png) no-repeat center center;
	background-size: 18px auto;
	border: 0;
	display: block;
}


/*民宿*/

.homeproduct .weui-media-box__hd {
	width: 80px;
	height: 80px;
}

.homeproduct .weui-media-box_appmsg {
	position: relative;
	align-items: stretch
}

button.weui-btn.reserBtn {
	width: 65px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-radius: 0;
	margin-top: 3px;
}

.resbox {
	margin-top: 20px;
}

.serverBox {
	text-align: center;
	font-size: 12px;
	color: #9a9a9a;
}

.serverBox i {
	width: 22px;
	height: 22px;
	display: block;
	margin: 5px auto;
}

.arr_1 {
	background: url(../img/wify_01.png) center center no-repeat;
	background-size: 100% auto;
}

.arr_2 {
	background: url(../img/wify_12.png) no-repeat center center;
	background-size: 100% auto;
}

.arr_3 {
	background: url(../img/wify_05.png) no-repeat center center;
	background-size: 100% auto;
}

.arr_4 {
	background: url(../img/wify_13.png) no-repeat center center;
	background-size: 100% auto;
}

.arr_5 {
	background: url(../img/wify_09.png) 0 0;
	background-size: auto 100%;
}

.arr_6 {
	background: url(../img/wify_11.png) 0 0;
	background-size: auto 100%;
}

.artical {
	padding: 0 10px;
	color: #838383;
	font-size: 14px;
	padding-bottom: 30px;
	margin-top: 20px;
}

.demo_title {
	text-align: center;
	background: #fff;
	font-size: 18px;
	color: #27332b;
	font-weight: 300;
	padding: 10px;
}

.nights {
	position: absolute;
	right: 50px;
	top: -10px;
	z-index: 2;
	width:50px;
	text-align: center;
	background: #fff;
}
.phoneboder.weui-cell:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #F1F1F1;
    color: #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 15px;
}
.customer {
	position: absolute;
	left: 20px;
	top: 0;
	display: block;
	width: 50px;
	height: 50px;
}

.sp_list dd {
	width: 50%;
	float: left;
	background: #fff;
	list-style: none;
}

.sp_list dd a {
	display: block;
	padding: 12px 12px 12px 12px;
	position: relative;
	margin-left: -1px;
	margin-bottom: -1px;
}

.sp_dl {
	overflow: hidden;
}

.cusicon {
	display: block;
	width: 25px;
	height: 25px;
	margin: 2px auto;
	background: url(../img/telicon_23.png) no-repeat center center;
	background-size: 100% auto;
}

.customer p {
	color: #14db56;
	line-height: 25px;
	font-size: 12px;
}

.address_booK_letter a {
	display: block;
	width: 100%;
	height: 20px;
}

#full h1 {
	padding: 10px;
	background: #14db56;
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	position: relative;
}

#full .close {
	float: right;
	display: block;
	width: 15px;
	height: 25px;
	background: url(../img/close.png) no-repeat center center;
	background-size: 100% auto;
}

#full .weui-popup__modal {
	background: #fff;
}

.homeul {
	overflow: hidden;
	padding: 5px;
}

.homeul li {
	float: left;
	width: 33.333%;
}

.homeul li a {
	display: block;
	padding: 5px;
	position: relative;
	margin-left: -1px;
	margin-bottom: -1px;
}

.homeul li a img {
	width: 100%;
}

.honmelab {
	float: left;
	margin-right: 1em;
	min-width: 2em;
	color: #a1a1a1;
}

.homespan {
	overflow: hidden;
	color: #1e2921;
}

.titaler {
	color: #ff5f11;
	font-size: 12px;
}

.homeinfo .weui-flex {
	padding: 8px;
	border-bottom: 1px solid #fafafa;
}

.room {
	padding: 10px 8px;
}

.room .weui-media-box__title {
	color: #1e2921;
	font-size: 16px;
	line-height: 44px;
}

.room .media-box {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	font-size: 12px;
	color: #a1a1a1;
}

.orderOk .yudinbtn {
	width: 100%;
	height: 50px;
	line-height: 50px;
}

#msg .weui-icon-success {
	color: #14db56;
}

.continue {
	color: #14db56;
	border: 1px solid #14db56;
}

#formobjorder .weui-label {
	text-align: justify;
	text-align-last: justify;
	width: 60px;
	padding-right: 20px;
}


/*门票详情*/

.articalcon {
	padding: 10px;
}

.articalcon h1 {
	font-size: 18px;
	color: #27332b;
	font-weight: 400;
}

.articalcon p {
	width: 88%;
	margin: 5px auto;
	font-size: 12px;
	color: #7e7f7f;
}


/*直播首页*/

#icon_btn .weui-grid {
	width: 25%;
}

.sst-shouyeblue {
	background: url(../img/c1.png) no-repeat center center;
	background-size: 100% auto;
	height: 27px;
	width: 27px;
	display: block;
}

.sst-xuetangblack {
	background: url(../img/b.png) no-repeat center center;
	background-size: 20px auto;
	height: 27px;
	width: 27px;
	display: block;
}

.lookcount {
	width: 50px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
	float: right;
	margin-right: 5px;
	overflow: hidden;
}

.lookcount i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 100% auto;
	font-style: normal;
	vertical-align: top;
	font-size: 14px;
	color: #9a9a9a;
}

.lookcount .lookicon {
	background: url(../img/look.png) no-repeat center center;
}

.title_hot {
	height: 30px;
	background: url(../img/hot.png) no-repeat center center;
	background-size: 100% auto;
	color: #27332b;
	width: 160px;
	margin: 10px auto 0;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 30px;
}

#verifyCode {
	box-shadow: 5px 5px 6px 1px #c1e9ce;
}

.codebtn {
	font-size: 14px;
}

.inventory {
	font-style: normal;
}

#qty_num {
	width: 40px;
}


/*直播详情页*/

#tab2 .comicon {
	padding: 2px;
	border: 2px solid #14db56;
}

#tab2 .introduce {
	margin-top: 20px;
	font-size: 12px;
}

#tab2 .comicon img {
	width: 100%;
	border-radius: 50%;
}

#tab2 .cons {
	margin-left: 85px;
}

#tab2 .cons h1 {
	font-size: 18px;
}

#tab2 {
	padding: 15px;
}


/*我的页面*/

.sst-shouyeblack {
	background: url(../img/c.png) no-repeat center center;
	background-size: 27px auto;
	height: 27px;
	width: 27px;
	display: block;
	z-index: 1;
}

.sst-dashizaixianblack {
	background: url(../img/a1.png) no-repeat center center;
	background-size: 27px auto;
	height: 27px;
	width: 27px;
	display: block;
	z-index: 1;
}

.picheader {
	padding: 20px 0;
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
}

.picture {
	width: 68px;
	height: 68px;
	border: 3px solid #fe0000;
	border-radius: 50%;
	margin: 0 auto;
}

.picture img {
	width: 100%;
	border-radius: 50%;
}

.picheader h2 a {
	font-size: 18px;
	color: #27332b;
	text-align: center;
	font-weight: 400;
	display: block;
	width: 130px;
	margin: 5px auto 0;
	background: url(../img/right.png) no-repeat right center;
	background-size: 14px auto;
}











.icon_menu {
	background: #fff;
	text-align: center;
	border-bottom: 1px solid #F1F1F1;
}

.icon_menu a {
	padding: 20px 10px;
	display: block;
}

.gridicon {
	width: 22px;
	height: 22px;
	margin: 0 auto 5px;
	position: relative;
}

.gridicon img {
	display: block;
	/*width: 100%;*/
}

.list .weui-cell__hd {
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 15px;
	margin-left: 5px;
}

.list .weui-cell__hd img {
	vertical-align: middle;
}

.weui-badge {
	position: absolute;
	top: -.7em;
	right: -.8em;
}

.orderdate {
	margin-right: 3px;
}

.log .recipient {
	font-size: 12px;
}

.loglist {
	background: #fff;
	font-size: 14px;
	padding-left: 10px;
	margin-left: 12px;
}

.loglist li {
	min-height: 30px;
	border-left: 1px solid #d9d9d9;
}

.loglist li span {
	display: inline-block;
}

.loglist li span.logdate {
	padding-bottom: 10px;
	display: block;
}

.package-status {
	padding: 18px 0 0 0;
	min-height: 30px;
}

.package-status .status {
	display: inline-block;
	border-bottom: 1px solid #F1F1F1;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 92%;
	font-size: 13px;
	color: #9a9a9a;
	/* border-left: 1px solid #d9d9d9;*/
}

.loglist li:before {
	content: '';
	border: 3px solid #f3f3f3;
	background-color: #d9d9d9;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-left: -9px;
	margin-right: 10px;
}

.loglist li:first-child .status {
	margin-top: 0;
	padding-top: 0;
}

.loglist li:last-child .status {
	padding-bottom: 0;
	border-bottom: 0;
}

.loglist li:last-child .status .logdate {
	padding-bottom: 0;
}

.specialColor {
	color: #14db56;
}

.loglist li.specialColor .status {
	color: #14db56;
}

.loglist li.specialColor:before {
	content: '';
	border: 4px solid #b5f9cb;
	background-color: #14db56;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-left: -10px;
	margin-right: 10px;
}

.loglist li.specialColor .status {
	width: 90%;
	font-size: 14px;
}
.myorder{
	border-top: 0;
	border-bottom: 0;
}
.parendiv{
	position: relative;
}

.xcount{
	position: absolute;
	top:-20px;
	right: 0;
	display: block;
	width: 100%;
	font-size: 14px;
	color: #000;
	text-align: right;
}
.myorder .price_div{
	overflow:initial;
}
.myorder .recipient{
	font-size: 13px;
}

.myorder .weui-cells:before{
	border-top:0;
}
.myorder .name{margin-right:10px;}
.salesdiv{
	padding:0 15px;
	border-top: 1px solid #F1F1F1;
	text-align: right;
	
}

.myorder .calculate{
	padding-right: 15px;
	text-align: right;
}
.myorder .salesdiv a{
	display:inline-block;
	font-size: 15px;
	padding:5px 10px;
	border-radius:4px;
	line-height:normal;
	margin-left:5px;
	margin-top: 15px;
	
}
.logisticsbtn{
	border: 1px solid #14db56;
	color: #14db56;
}
.goodstn{
	border: 1px solid #14db56;
	color: #14db56;
}
.stay li{
	margin-bottom:20px;
	border-bottom: 1px solid #F1F1F1;
}

.evalbtn{
	border: 1px solid #14db56;
	color: #14db56;
}
.afterState{
	padding:10px 15px ;
	background: #fff;
	font-size: 14px;
	color: #000;
	text-align:right;
}

.listBox{
	
	margin: 0 15px;
}

/*我的购物车*/
.cart_list {
    margin-top: 10px;
}
.check-wrapper {
    height: 20px;
    width: 20px;
    top:0;
    left:30px;
    display: block;
    position: absolute;
}

.cart_list .weui-panel__bd{
	border-bottom: 1px solid #F1F1F1;
}

.cart_list img {
    border: 1px solid #e3e5e9;
    margin-top: 10px;
}
.cart_list .weui-media-box__desc {
    margin: 4px 0px;
}
.caozuo {
    width: 100%;
    display: inline-table;
}
.oneGood p{
	padding: 0 15px;
} 

.cart_list .weui-media-box_appmsg{
     align-items:initial;
}

.cart_list .tit_div{
	margin-right: 35px;
}

.cart_list .good{
	position: relative;
}
.delete{
	width: 20px;
	height: 20px;
	
	position: absolute;
	right: 0;
	top:0;
	background: url(../img/delete.png) no-repeat center center;
	background-size: auto 100%;
}
.cart_list .price_div .product-price1{
	color: #27332b;
}

.addrDetail{
	background:#000;
	opacity: .78;
	color: #fff;
	width: 90%;
	margin: 0 auto;
	border-radius:3px;
	position: relative;
	z-index: 999;
	
}

.addrDetail.weui-cells{
	overflow: initial;
}
.addrDetail .recipient{
	color: #fff;
}
.triangle{
	width: 0;
    height: 0;
    border-width: 0 8px 12px;
    border-style: solid;
    border-color: transparent transparent #000;
    opacity: .9;
    position: absolute;
    top:-12px;
    left:68%;
}
.manlageAdd{
	position: relative;
	padding: 0 10px;
}

.addrbox{
	position: absolute;
    width:100%;
    margin-left:50%;
    left: -50%;
    top:46px;
    display: none;
}
.abposi{
	display: block;
}
.addShow{
	display: block;
	
}

.addrDetail .weui-cell:before{
	border-top: 0;
}


.cart-checkbox {
    display:inline-block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: url(../img/nocheck.png) no-repeat 0 0;
    background-size:100% auto;
}
.checkkbox{
	width:58px;
	font-size: 13px;
	margin-right: 5px;
	margin-left:15px;
}  
.checkicon{
	width: 20px;
    height: 20px;
    margin: 0 auto;
    background: url(../img/xuanze2x.png) no-repeat 0 1px;
    background-size:100% auto;
    vertical-align:sub;
    display: inline-block;
    line-height: 50px;
    
}
/*购物车底部*/
.payment-total-bar {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
    border-top: 1px solid #F1F1F1;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.box-flex-c {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.shp-chk-new {
    max-width: 50px;
    margin-left: 16px;
    margin-top: 15px;
}

.shp-chk {
    width:40px;
}
.choose_all{
	line-height: 50px;
}
.choose_all span{
	vertical-align:sub;
	margin-left: 15px;
}
/*.shp-chk-new .cart-checkbox {
    display: table-cell!important;
}
*/

.cart-checkbox.checked {
   background: url(../img/xuanze2x.png) no-repeat 0 0;
   background-size: 100% auto;
}
.cart-checkbox-text {
    color: #27332b;
  
    vertical-align: middle;
    padding-left: 4px;
    font-size: 13px;
    line-height: 20px;
    -webkit-box-flex: 1;
}
.shp-chk span{
	display: inline-block;
}
.shp-cart-info-new {
    margin-left: 8px;
    font-size: 0;
    overflow: hidden;
}

.shp-cart-total {
    margin-top: 10px;
    display: block;
    line-height: 28px;
    font-size: 14px;
    white-space: nowrap;
    text-align: right;
    margin-right: 5px;
    font-size: 12px;
}
.btn-right-block {
    display: block;
    text-align: center;
    background: #14db56;
    color: #fff;
    font-size: 16px;
}
.share{
	font-size: 10px;
	color:#ff5400;
	margin-top: -3px;
}
.submit{
	padding-top:8px;
}

.checkeactive{
	 line-height:40px;
	 font-size: 14px;
}
.checkeactive .cart-checkbox{
	vertical-align:middle;
    margin-left: 15px;
    margin-right: 4px;
}
.outform{
   margin:10px 15px;
   font-size: 13px;
}
.paytitle{
   width: 100%;
   height:155px;
   background:#14db56;	
}


.lace{
	height:20px;
	background: url(../img/pay.png) no-repeat 0 0;
	background-size: 100% auto;
}
.payment{
	padding: 0 15px;
}
.paytitle h1{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	height:55px;
	line-height: 55px;
	text-align: center;
}
.money{
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.money span{
	font-size: 26px;
}
.paytitle .art{
	color: #c2f2a9;
	text-align: center;
	font-size: 14px;
}
.goodtit{
	font-size:18px;
	text-align: center;
	padding: 10px 0;
	font-weight: normal;
}
#uploaderFiles li img{
	width: 100%;
}
.cart_list .title_flower{
	padding:0 15px;
}
.title_flower span.allchecked{
	display: inline-block;
	width: 20px;
    height: 20px;
    margin: 0 auto;
   /* background: url(../img/nocheck.png) no-repeat 0 0;*/
    background-size: 100% auto;
    margin-right: 10px;
    vertical-align: sub;
}

.cart-checkbox1{
	background: url(../img/nocheck.png) no-repeat 0 0;
    background-size: 100% auto;
}
/*.title_flower span.allchecked.checked{
    background: url(../img/xuanze2x.png) no-repeat 0 0;
    background-size: 100% auto;
}*/

.cart-checkbox1.checked{
	background: url(../img/xuanze2x.png) no-repeat 0 0;
    background-size: 100% auto;
}

/*回复*/

.replaycon .cons{
	margin-left: 10px;
}
.replaycon .cons .introduce{
	padding:8px 0 2px;
}
.replaycon .reply{
	margin-left: 20px;
}
.replaycon .commlist >li {
	border-bottom: 1px solid #fafafa;
}
.replaystate{
	font-size: 14px;
	margin-right: 10px;
}
.replaycon .time{
	margin-bottom: 10px;
}
.replaycon .commlist li li{
	padding-bottom: 0;
}
.upload.weui-cells:before{
	border-top: none;
}
.upload.weui-cells:after{
	border-bottom: none;
}
.outform .weui-cell{
	padding:10px 0;
}

/*图片上传图标*/
.upload .weui-uploader__file{
	margin-right:38px;
	border:1px solid #f9f9f9  ;
}
.upload .weui-uploader__input-box{
	width: 79px;
    height: 79px;
    border:1px solid #f9f9f9  ;
    background: url(../img/pinlun.png) no-repeat center 60%;
    background-size: 70% auto;
}
.upload .weui-uploader__input-box:after, .weui-uploader__input-box:before{
	background: none;
}


/*我的门票*/
.my_ticket .weui-media-box_appmsg .weui-media-box__hd{
	width:40%;
}


@media screen and (min-width: 768px) {
	header,
	section {
		width: 320px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	header,
	section {
		width: 320px;
		margin: 0 auto;
	}
	#qty_num {
		width: 28px;
	}
	.log .recipient {
		font-size: 10px;
	}
}