@charset "UTF-8";
html, body {
    width: 100%;
    height: 100%;
}

html, body,
ul, li, ol, dl, dt, dd,
p, h1, h2, h3, h4, h5, h6,
img, form, input, select, textarea, fieldset, legend {
    margin: 0;
    padding: 0;
}

/*各浏览器显示不同，去掉蓝色边框和轮廓*/
fieldset, img, input, button {
    border: none;
    outline-style: none;
}

/*去掉列表中列表项前默认的图标*/
ul, ol {
    list-style-type: none;
}

/*去掉a标签默认的下划线及默认的蓝色*/
a {
    text-decoration: none;
    color: #666;
}

/*去掉input的默认上下内边距、定义默认字体系列为新宋体*/
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

/*去掉行内替换元素img底部的3像素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

/*设置表单元素的默认字体大小为12px*/
select, input, textarea {
    font-size: 14px;
}

/*防止拖动而影响布局*/
textarea {
    resize: none;
}

/*表格边框分离*/
table {
    border-collapse: collapse;
}

/*定义文档的默认字体样式，背景色*/
body {
    font: 14px/150% "Microsoft YaHei", "SimSun"; /*微软雅黑,宋体*/
    color: #666;
    background: #fff;
}

/*闭合浮动*/
.clearfix {
    zoom: 1; /*兼容IE*/
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*版心*/
.w {
    width: 960px;
    margin: 0 auto;
}

/*红色字体*/
.red {
    color: #f00;
}