@charset "UTF-8";

body {
    min-width: 1280px;
}

/* 精灵图引用 */
/* 导航条图标 */
.icon-summary::before,
.icon-video::before,
.icon-product::before,
.icon-order::before,
.icon-charts::before,
.icon-setting::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -25px;
    width: 18px;
    height: 17px;
}

/* 概要图标 */
.icon-summary::before {
    background: url(../img/index_sprite.png) no-repeat -10px -239px;
}

/* 视频图标 */
.icon-video::before {
    background: url(../img/index_sprite.png) no-repeat -10px -292px;
}

/* 商品图标 */
.icon-product::before {
    background: url(../img/index_sprite.png) no-repeat -10px -184px;
}

/* 订单图标 */
.icon-order::before {
    background: url(../img/index_sprite.png) no-repeat -10px -156px;
}

/* 数据图标 */
.icon-charts::before {
    background: url(../img/index_sprite.png) no-repeat -10px -128px;
}

/* 设置图标 */
.icon-setting::before {
    background: url(../img/index_sprite.png) no-repeat -10px -100px;
}

/* 用于指示导航条当前选中li的指示器图标 */
.icon-summary::after,
.icon-video::after,
.icon-product::after,
.icon-order::after,
.icon-charts::after,
.icon-setting::after {
    content: "";
    display: none;
    position: absolute;
    bottom: -38px;
    left: 10px;
    width: 15px;
    height: 17px;
    background: url(../img/index_sprite.png) no-repeat -10px -212px;
}

/* 用户名右侧的图标 */
.icon-quit {
    content: "";
    position: absolute;
    top: 37px;
    right: 35px;
    width: 16px;
    height: 16px;
    background: url(../img/index_sprite.png) no-repeat -10px -266px;
}

/* 头部区域 */
.header {
    position: relative;
    width: 100%;
    border-bottom: solid 1px #eff;
    background-color: #0A0B0B;
    box-shadow: 0 3px 4px #7c8585;
}

/* 头部logo */
.header > .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 265px;
    height: 90px;
    padding-left: 35px;
    line-height: 90px;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
}

/* 头部导航条 */
.header > .nav {
    padding: 0 160px 0 300px;
}

/* 导航条中的li */
.header > .nav li {
    float: left;
    width: 16.66%;
}

/* 导航条li中的a */
.header > .nav a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

/* 导航条li中a下面的span */
.header > .nav a > span {
    position: relative;
    height: 90px;
    line-height: 90px;
    font-weight: 700;
    font-size: 18px;
    color: #9E9F9E;
}

/* 当前点击选中的li下a中的span */
.header > .nav li.active > a > span {
    color: #fff;
}

/* 当前点击选中的li下a中的span的::after伪元素，即：导航条li下面的指示器图标*/
.header > .nav li.active > a > span::after {
    display: inline-block;
}

/* 头部用户信息*/
.header > .user {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    text-align: center;
}

/* 用户名*/
.header > .user > .user-name {
    display: inline-block;
    height: 90px;
    margin-right: 20px;
    line-height: 90px;
    font-size: 16px;
    color: #fff;
}

/* 主体区域 */
.main {
    position: relative;
    width: 100%;
    margin-top: 4px;
    height: 2000px;
}

/* 侧边栏容器 */
.main > .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 315px;
    border: 1px solid #D9DDE3;
    height: 100%;
    background-color: #F0F0F0;
}

/* 侧边栏中的所有a的背景、边框 */
.main > .sidebar a {
    border-bottom: solid 1px #D9DDE3;
    border-right: solid 1px #D9DDE3;
    background-color: #F0F0F0;
}

/* 菜单栏中当前选中的a */
.main > .sidebar a.current {
    border-right: solid 1px #fff !important;
    background-color: #fff !important;
}

/* 侧边栏中的一级菜单ul */
.main > .sidebar > ul {
    display: none;
    font-size: 18px;
}

/* 侧边栏中当前选中的一级菜单ul */
.main > .sidebar > ul.active {
    display: block;
}

/* 侧边栏中的一级菜单ul下的所有li */
.main > .sidebar > ul > li {
    width: 316px;
    overflow: hidden;
}

/* 侧边栏中一级菜单ul下的所有a*/
.main > .sidebar > ul > li > a {
    display: inline-block;
    width: 255px;
    height: 59px;
    padding-left: 60px;
    line-height: 59px;
}

/* 侧边栏中二级菜单ul下的所有li */
.main > .sidebar > ul > li > ul > li {
    overflow: hidden;
}

/* 侧边栏中二级菜单ul下的所有a */
.main > .sidebar > ul > li > ul > li > a {
    display: inline-block;
    width: 220px;
    height: 59px;
    padding-left: 95px;
    line-height: 59px;
}

/* 内容区域 */
.main > .rightContent {
    /* 348px用于左侧的侧边栏 35px是与页面底部的间距 */
    padding: 0 0 35px 348px;
}

/* 面包屑下面的li */
.main > .rightContent > .breadcrumb > ul > li {
    float: left;
    height: 92px;
    line-height: 92px;
    font-size: 18px;
    text-align: center;
    color: #B0B0B0;
}

/* 面包屑下面li之间的间距 */
.main > .rightContent > .breadcrumb li + li {
    margin-left: 10px;
}

/* 面包屑下面li之间的">" */
.main > .rightContent > .breadcrumb li + li::before {
    content: ">";
    margin-right: 10px;
}

/* 面包屑下面的最后一个li */
.main > .rightContent > .breadcrumb li:last-child {
    font-size: 24px;
    color: #2b3642;
}

/* summary.html页面 */
/* 四个模块的容器 */
#summary .yesterday {
    float: left;
    height: 237px;
    border: solid 1px #DFDFDF;
    border-radius: 5px;
}

/* 昨日销售额和用户数容器 */
#summary .sale,
#summary .order {
    width: 60%;
    border-bottom: solid 2px #3BD9B6;
}

#summary .order {
    margin-top: 35px;
    border-bottom: solid 2px #3B99D9;
}

/* 昨日订单数量和流量信息容器 */
#summary .userCount,
#summary .wechat {
    width: 30%;
    margin-left: 5%;
    border-bottom: solid 2px #3B99D9;
}

#summary .wechat {
    margin-top: 35px;
    border-bottom: solid 2px #3BD9B6;
}

/* 四个模块内的标题 */
#summary .yesterday h3 {
    padding: 45px 0 45px 35px;
    font-size: 20px;
}

/* 四个模块内的列表 */
#summary .yesterday ul {
    padding-left: 35px;
}

/* 四个模块内的列表项li */
#summary .yesterday li {
    float: left;
    width: 25%;
}

/* 四个模块内li中的第一个p */
#summary .yesterday li > p:first-child {
    font-size: 16px;
    color: #9C9C9C;
}

/* 四个模块内li中的第二个p */
#summary .yesterday li > p:nth-child(2) {
    margin-top: 25px;
    font-size: 26px;
    color: #35312E;
}

/* 四个模块中第一个模块昨日销售额的第二个p使用伪元素添加￥*/
#summary .yesterday.sale p:nth-of-type(2)::before {
    content: "￥";
    font-size: 16px;
}

/* 用户数和流量信息中li宽度的调整 */
#summary .userCount li,
#summary .wechat li {
    width: 50%;
}

/* TOP5模块 */
#summary > .top5 {
    float: left;
    width: 96%;
    height: 482px;
    margin-top: 35px;
    border: solid 1px #DFDFDF;
    border-bottom: solid 2px #3BD9B6;
    border-radius: 5px;
}

/* top5下的标题 */
#summary > .top5 > h3 {
    padding: 45px 0 45px 35px;
    font-size: 20px;
}

/* top5下的列表项 */
#summary > .top5 > ul > li {
    float: left;
    width: 33%;
}

/* top5下的列表项的分隔边框 */
#summary > .top5 > ul > li + li {
    border-left: solid 1px #DFDFDF;
}

/* top5下列表项的标题 */
#summary > .top5 > ul > li > p {
    padding-left: 35px;
    font-size: 16px;
    color: #9C9C9C;
}

/* 具体列表项*/

/* 具体列表项中的li */
#summary > .top5 > ul > li > ul > li {
    position: relative;
    padding-left: 70px;
    margin-top: 35px;
    font-size: 16px;
}

/* 具体列表项中的第一、二、三个li的图标 */
#summary > .top5 > ul > li > ul > li:nth-of-type(1)::before,
#summary > .top5 > ul > li > ul > li:nth-of-type(2)::before,
#summary > .top5 > ul > li > ul > li:nth-of-type(3)::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 35px;
    width: 20px;
    height: 20px;
}

/* 具体列表项中的第一个li的金牌图标 */
#summary > .top5 > ul > li > ul > li:nth-of-type(1)::before {
    background: url(../img/index_sprite.png) no-repeat -10px -70px;
}

/* 具体列表项中的第二个的li银牌图标 */
#summary > .top5 > ul > li > ul > li:nth-of-type(2)::before {
    background: url(../img/index_sprite.png) no-repeat -10px -40px;
}

/* 具体列表项中的第一个的li铜牌图标 */
#summary > .top5 > ul > li > ul > li:nth-of-type(3)::before {
    background: url(../img/index_sprite.png) no-repeat -10px -10px;
}

/* 具体列表项中li下面的销量span */
#summary > .top5 > ul > li > ul > li > span:nth-of-type(2) {
    float: right;
    height: 25px;
    margin-right: 20px;
    line-height: 25px;
    font-size: 18px;
}

/* 第二个top5商户销售中销量前面的"￥"符号 */
#summary > .top5:last-child span:last-child::before {
    content: "￥";
    font-size: 12px;
}

/* 第二个top5商户销售的下边框颜色 */
#summary > .top5:last-child {
    border-bottom: solid 2px #3B99D9;
}

/* 视频管理首页——发布管理 */
#video_dist {
    /*background-color: pink;*/
}

/* 搜索区域 */
#video_dist > .search {
    width: 100%;
}

/* 搜索区域下的各个div */
#video_dist > .search > div {
    float: left;
    width: 33%;
    font-size: 18px;
}

/* 后面两个div与前面的div的间距 */
#video_dist > .search > div + div {
    /*margin-left: 5%;*/
}

/* 修饰文本框的label */
#video_dist > .search label {
    float: left;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
}

/* 搜索区域div下视频名称和主播名称的文本框 */
#video_dist > .search > .search-name > input,
#video_dist > .search > .search-anchor > input {
    float: left;
    height: 38px;
    margin-left: 16px;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    font-size: 16px;
}

/* 上面文本框聚焦时边框变色 */
#video_dist > .search > .search-name > input:focus,
#video_dist > .search > .search-anchor > input:focus {
    border: 1px solid #149CDB;
}

/* 搜索框所在div中的span */
#video_dist > .search > .search-btn > span {
    float: left;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
}

/* 搜索框所在div中的label去除浮动、加粗 */
#video_dist > .search > .search-btn label {
    float: none;
    margin: 0 5px;
    font-weight: 400;
}

/* 搜索框 */
#video_dist > .search > .search-btn > #search_btn {
    float: right;
    width: 140px;
    height: 40px;
    margin-right: 20px;
    line-height: 40px;
    text-align: center;
    background-color: #3677AF;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

/* 按钮组所在div */
#video_dist > .add-video {
    margin-top: 40px;
}

/* 所有按钮 */
#video_dist > .add-video > button {
    width: 65px;
    height: 40px;
    margin-left: 8px;
    padding: 0;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

/* 添加商品 */
#video_dist > .add-video > #add_add {
    width: 100px;
    margin-left: 0;
    background-color: #3677AF;
}

/* 批量上线 */
#video_dist > .add-video > #add_online {
    background-color: #81D0AF;
}

/* 批量下线 */
#video_dist > .add-video > #add_offline {
    background-color: #BDC3C7;
}

/* 删除按钮 */
#video_dist > .add-video > #add_delete {
    background-color: #D08193;
}

/* 四个按钮前面的图标 */
#video_dist > .add-video > #add_add::before,
#video_dist > .add-video > #add_online::before,
#video_dist > .add-video > #add_offline::before,
#video_dist > .add-video > #add_delete::before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
}

/* 添加商品图标位置 */
#video_dist > .add-video > #add_add::before {
    width: 15px;
    height: 15px;
    background: url(../img/video_dist_sprite.png) no-repeat -10px -88px;
}

/* 批量上线图标位置 */
#video_dist > .add-video > #add_online::before {
    width: 11px;
    height: 16px;
    background: url(../img/video_dist_sprite.png) no-repeat -10px -62px;
}

/* 批量下线图标位置 */
#video_dist > .add-video > #add_offline::before {
    width: 11px;
    height: 16px;
    background: url(../img/video_dist_sprite.png) no-repeat -10px -36px;
}

/* 删除商品图标位置 */
#video_dist > .add-video > #add_delete::before {
    width: 13px;
    height: 16px;
    background: url(../img/video_dist_sprite.png) no-repeat -10px -10px;
}

/* 视频首页表格容器 */
#video_dist > .video-list {
    width: 100%;
    margin-top: 24px;
    overflow: hidden;
}

/* 视频首页表格 */
#video_dist > .video-list > table {
    /*margin-right: 50px;*/
    width: 100%;
    margin-right: 200px;
    table-layout: fixed;
}

#video_dist > .video-list > table td {
    text-align: center;
}

/*#video_dist > .video-list > table tr > th {
    background-color: pink;
    width: 10%;
}*/

/*#video_dist > .video-list > table tr > td {
    background-color: gold;
    width: 10%;
}*/

/* 视频首页表格中的第一列 */
#video_dist > .video-list > table tr > th:first-child {
    width: 30%;
}

#video_dist > .video-list > table tr > td:first-child {
    width: 30%;
}

/*添加视频页面*/
/* 顶部步骤背景 */
#video_add > .step {
    width: 601px;
    height: 40px;
    background: url(../img/video-add-sprite.png) no-repeat -10px -157px;
}

/* 表单通用样式属性 */
#video_add > .add-video {
    margin-top: 47px;
    font-size: 18px;
    color: #000;
}

/* 表单中的必填标识 */
#video_add > .add-video .required::before {
    content: "*";
    color: #f00;
}

/* 表单输入框样式统一*/
#video_add > .add-video input[type="text"] {
    width: 688px;
    height: 38px;
    border-radius: 3px;
    border: solid 1px #CBC8C8;

}

#video_add > .add-video input[type="text"]:focus {
    border: solid 1px #3677AF;
}

/* 表单中各个p之间的距离 */
#video_add > .add-video p + p {
    margin-top: 24px;
}

/* 表单中各个p的第一个span */
#video_add > .add-video p > span:first-child {
    display: inline-block;
    width: 90px;
    padding-right: 10px;
    text-align: right;
}

/* 第一行表单 */
#video_add > .add-video p:nth-of-type(1) > input + input {
    margin-left: 30px;
}

/* 第三行表单 */
#video_add > .add-video p:nth-of-type(3) > select {
    width: 318px;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
}

/* 第六行表单 */
#video_add > .add-video p:nth-of-type(6) input[type="text"] {
    width: 318px;
    margin-right: 60px;
}

#video_add > .add-video p:nth-of-type(6) input[type="radio"] {
    margin-left: 20px;
}

#video_add > .add-video p:nth-of-type(6) input:nth-of-type(3) {
    margin-left: 60px;
}

/* 第七行表单 主播头像 */
#video_add > .add-video p:nth-of-type(7) {
    position: relative;
    height: 137px;
}

#video_add > .add-video p:nth-of-type(7) span:nth-of-type(1) {
    position: absolute;
    top: 5px;
    left: 0;
}

#video_add > .add-video p:nth-of-type(7) span:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 100px;
    width: 137px;
    height: 137px;
    background: url(../img/video-add-sprite.png) no-repeat -227px -10px;
}

/* 隐藏文件域表单元素 */
#video_add > .add-video input[type="file"] {
    display: none;
}

/* 第八行多行文本框 */
#video_add > .add-video p:nth-of-type(8) {
    position: relative;
    height: 120px;
}

#video_add > .add-video p:nth-of-type(8) span {
    position: absolute;
    top: 5px;
    left: 0;
}

#video_add > .add-video p:nth-of-type(8) textarea {
    position: absolute;
    top: 0;
    left: 100px;
    width: 750px;
    height: 120px;
}

/* 第九行表单 */
#video_add > .add-video p:nth-of-type(9) {
    position: relative;
    height: 137px;
}

#video_add > .add-video p:nth-of-type(9) span:nth-of-type(1) {
    position: absolute;
    top: 5px;
    left: 0;
}

#video_add > .add-video p:nth-of-type(9) span:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 100px;
    width: 207px;
    height: 137px;
    background: url(../img/video-add-sprite.png) no-repeat -10px -10px;
}

/* 第十行表单 */
#video_add > .add-video p:nth-of-type(10) input {
    width: 320px;
}

#video_add > .add-video p:nth-of-type(10) span:nth-of-type(2) {
    margin-left: 20px;
    color: #818990;
}

/* 下一步按钮所在的p */
#video_add > .add-video p:nth-of-type(11) input {
    width: 313px;
    height: 58px;
    margin-left: 100px;
    border-radius: 5px;
    border: solid 1px #2F6A9B;
    background-color: #3677AF;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

/* 添加商品页面 */
#add_product {
    position: relative;
}

/* 标识步骤 */
#add_product .step {
    width: 601px;
    height: 40px;
    background: url(../img/video-add-product.png);
}

/* 按钮组 */
#add_product .btnGroup {
    margin-top: 32px;
    padding-left: 40px;
}

#add_product .btnGroup button {
    height: 32px;
    border-radius: 5px;
    color: #fff;
}

#add_product .btnGroup button:nth-of-type(1) {
    width: 97px;
    background-color: #3677AF;
}

#add_product .btnGroup button:nth-of-type(2) {
    width: 66px;
    margin-left: 8px;
    background-color: #D08193;
}

/* 商品列表 */
#add_product .product-list {
    width: 472px;
    margin-top: 32px;
    margin-left: 40px;
}

#add_product .product-list li {
    width: 470px;
    height: 131px;
    border-radius: 5px;
    border: 1px solid #CBC8C8;
}

#add_product .product-list li + li {
    margin-top: 24px;
}

/* 商品列表内部 */
/* 左侧显示复选框和图片的div */
#add_product .product-list .product-img {
    float: left;
}

#add_product .product-list .product-img input {
    margin: 58px 30px 0 8px;
}

#add_product .product-list .product-img img {
    width: 100px;
    height: 100px;
}

/* 右侧显示商品描述信息的div */
#add_product .product-list .product-desc {
    float: right;
    width: 270px;
    margin-right: 24px;
}

#add_product .product-desc-introduce {
    margin: 16px 0;
}

#add_product .product-desc-introduce p:nth-of-type(1) {
    font-size: 16px;
    font-weight: 700;
}

#add_product .product-desc-introduce p:nth-of-type(2) {
    padding-left: 5px;
    font-size: 14px;
    color: #9A9A9A;
}

/* 商品价格的div */
#add_product .product-desc-price p:nth-of-type(1) {
    float: left;
    padding-left: 5px;
    font-size: 16px;
}

#add_product .product-desc-price p:nth-of-type(1) span {
    font-weight: 700;
}

#add_product .product-desc-price p:nth-of-type(1) span::before {
    content: "￥";
}

#add_product .product-desc-price p:nth-of-type(1) del {
    margin-left: 5px;
    font-size: 14px;
    color: #9A9A9A;
}

#add_product .product-desc-price p:nth-of-type(1) del::before {
    content: "￥";
}

#add_product .product-desc-price p:nth-of-type(2) {
    float: right;
    font-size: 14px;
    color: #FF5400;
}

#add_product .next {
    margin: 32px 0 0 40px;
}

#add_product .next > button {
    width: 314px;
    height: 58px;
    border: solid 1px #2F6A9B;
    border-radius: 5px;
    background-color: #3677AF;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

/* 添加商品模态框遮罩 */
#add_product .modal-addProduct {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

/* 添加商品模态框 */
#add_product .modal-addProduct .modal {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 1000;
    width: 60%;
    background-color: #fff;
}

/* 模态框标题 */
#add_product .modal-addProduct .modal h4 {
    height: 120px;
    padding-left: 35px;
    line-height: 120px;
    font-size: 18px;
}

/* 模态框右侧的小叉 */
#add_product .modal-addProduct .modal .title span {
    position: absolute;
    right: 30px;
    top: 40px;
    font-size: 30px;
    cursor: pointer;
}

#add_product .modal-addProduct .modal ul {
    background-color: #f0f0f0;
}

/* 模态框中的选项卡 */
#add_product .modal-addProduct .modal li {
    float: left;
    width: 119px;
    height: 78px;
    border-right: solid 1px #CBC8C8;;
    line-height: 80px;
    text-align: center;
}

/* 模态框中被选中的选项卡 */
#add_product .modal-addProduct .modal li.active {
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    background-color: #fff;
}

#add_product .modal li a {
    font-size: 18px;
    color: #149CDB;
}

/* 模态框中的表单 */
#add_product .modal form {
    margin-top: 45px;
    padding: 0 35px;
}

#add_product .modal form input {
    height: 38px;
    border-radius: 5px;
    border: solid 1px #CBC8CA;
}

#add_product .modal form select {
    width: 100px;
    height: 38px;
    border-radius: 5px;
    border: solid 1px #CBC8CA;
}

#add_product .modal form input:nth-of-type(1) {
    width: 160px;
    margin-left: 15px;
}

#add_product .modal form input:nth-of-type(2) {
    margin: 0 30px;
    width: 80px;
    background-color: #3677AF;
}

#add_product .modal form input:nth-of-type(3) {
    width: 80px;
    border: 1px solid #2F6A9B;
    background-color: #fff;
}





