@charset "UTF-8";

/* 最外层容器*/
.container {
    width: 100%;
}

/* 背景图片*/
.container > .bg {
    position: absolute;
    width: 100%;
    min-width: 1280px;
    z-index: -1;
}

/* /背景图片*/

/* 内容区域*/
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 455px;
    height: 700px;
    margin: auto;
}

/* 标题*/
.content > h3 {
    height: 100px;
    margin: 40px 0 60px;
    font-size: 40px;
    line-height: 100px;
    color: #fff;
    text-align: center;
}

/* /标题*/

/* 表单中的div容器*/
.content > form > p {
    position: relative;
    /*width: 553px;*/
    margin-top: 20px;
    border: solid 1px #B2BABD;
    border-radius: 5px;
    background-color: #7A7B7F;
}

/* label标签 */
.content > form label {
    display: inline-block;
    width: 100px;
    height: 58px;
    padding-left: 43px;
    line-height: 58px;
    font-size: 18px;
    color: #fff;
}

/* label标签前面的图标 */
.content > form > .username::before,
.content > form > .password::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 10px;
    width: 20px;
    height: 20px;
}

/* 图标定位 */
.content > form > .username::before {
    background: url(../img/login_sprite.png) no-repeat -10px -10px;
}

.content > form > .password::before {
    background: url(../img/login_sprite.png) no-repeat -10px -40px;
}

/* 用户名和密码输入框 */
.content > form #username,
.content > form #password,
.content > form #validateCode {
    position: relative;
    width: 310px;
    height: 58px;
    background-color: #7A7B7F;
    font-size: 20px;
    color: #fff;
}

/*!* 错误信息提示框span *!
.content > form > p.username span,
.content > form > p.password span {
    float: right;
    width: 100px;
    height: 58px;
    line-height: 58px;
    border-radius: 0 5px 5px 0;
    color: #f40;
    font-size: 18px;
    visibility: hidden;
}*/

/* 验证码 */
/* 验证码前面的span */
.content > form p.validator span {
    display: inline-block;
    width: 100px;
    padding-left: 43px;
    height: 58px;
    line-height: 58px;
    font-size: 18px;
    color: #fff;
}

/* 验证码中的输入框 */
.content > form p.validator input#validateCode {
    width: 220px;
}

/* 验证码下面的img */
.content > form p.validator img {
    position: absolute;
    top: 11px;
    right: 10px;
}

/* 登录按钮(超链接)的容器 */
.content > form > .login {
    margin-top: 55px;
    text-align: center;
}

/* 登录按钮 */
.content .login > input {
    width: 453px;
    height: 58px;
    line-height: 58px;
    background-color: #3CC4D0;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

/* /表单中的元素*/

/* 脚注区域*/
.content .foot {
    margin-top: 50px;
}

.content .foot p {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.content .foot a {
    font-size: 20px;
    color: #fff;
}

/* /脚注区域*/
/* /内容区域*/
/* /最外层容器*/

